{% extends "base.html" %}
{% block title %}Sistema - Usuario {{ nombreusuario }}{% endblock %}
{% block head %}Bienvenido al sistema{% endblock %}
{% block content %}
    <h1> Repositorios donde pertenece:</h1>
    {% if repositorios %}
        <ul>
            {% for repositorio in repositorios %}
            <li><a href="{{ repositorio.title }}">{{ repositorio.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aun no pertenece a ningun repositorio</p>
    {% endif %}
{% endblock %}